@font-face{
    font-family: 'Apple';
    src: url('Apple\ ][.ttf');
}

body{
    display: flex;
    flex-direction: column;

}

.container-fluid{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.navbar-brand {
    font-size: min(10vw, 30px)!important;
}

.navbar-toggler {
    color: rgb(255,255,255,0)!important;
    background-color: rgba(0,0,0,0)!important;
    border-radius: 0!important;
    height: 100%!important;
    border: none!important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
    transition: background-image 0.3s ease-in-out!important;
    
}

.navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
}

  

@keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    height: 100%;
    font-family: 'Apple', sans-serif;
}

.img-container{
    background-color: rgb(39, 43, 48);
    border-radius: 10px;
    object-fit: contain;
    height: auto;
    width: 100%;
    padding: min(2vw, 10px);
    margin-bottom: 10px;
}

.help-button, .helpText {
    display: inline-block; /* Make the elements inline */
}

.help-button {
    display: inline-block; /* Make the element inline */
    vertical-align: top; /* Align the element to the top */
}

.helpText {
    display: block; /* Make the element block */
    width: 100%; /* Make the help text take up the whole width */
    font-size: 13px;
}
.hlRed {
    color: rgb(255, 73, 73);  /* Change this to the color you want */
}

.hlYel{
    color: rgb(255, 187, 0);
}

.hlGrn{
    color: rgb(113, 255, 100);
}

.img-container img{
    height: 100%;
    width: 100%;
    display: none !important;
}

.form-control{
    background-color: rgb(39, 43, 48) !important;
    color: white !important;
}

.form-control::placeholder{
    color: white !important;
    opacity: 0.5 !important;
    
}

.navbar-nav > li{
    color: white !important;
    font-size: 18px!important;

}

.navbar-nav {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
}

.navbar-nav li {
    display: inline-block !important;
    margin-right: 10px !important;
    margin-top: 10px !important;
}

.version{
    color: white;
    opacity: 0.3;
    font-size: 12px;
}

navbarNav.navbar-collapse.collapse.show {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
}

#navbarNav.navbar-collapse.collapse.show ul.navbar-nav {
    display: flex !important;
    flex-direction: row !important;
}

#navbarNav.navbar-collapse.collapse.show ul.navbar-nav li {
    display: inline-block !important;
}

#input{
    font-size: 17px;
}

#button-addon{
    color: rgba(255,255,255,0.5);
    background-color: rgb(39, 43, 48);
    border-radius: 0;
    height: 100%;
    border: none;
    max-height: 30px;
}

#button-addon:hover{
    background-color: rgb(49, 54, 59);
}

#button-addon2{
    color: rgba(255,255,255,0.5);
    background-color: rgb(39, 43, 48);
    border-radius: 0;
    height: 100%;
    border: none;
    margin-left: 5px;
}
#button-addon2:hover{
    background-color: rgb(49, 54, 59);
}

#copyButton{
    color: rgba(255,255,255,0.5);
    background-color: rgb(28, 30, 34); 
    border-radius: 0;
    height: 100%;
    border: none;
    margin-left: 5px;
}

#copyButton:hover{
    background-color: rgb(49, 54, 59);
}

#button-addon3{
    color: rgba(255,255,255,0.5);
    background-color: rgb(28, 30, 34); 
    border-radius: 0;
    height: 100%;
    border: none;
    margin-left: 5px;
}
#button-addon3:hover{
    background-color: rgb(49, 54, 59);
}


.results-box{
    width: 100%;
    max-height: 170px;
    overflow-y: auto;
    position: absolute;
    margin-top: 50px;
    z-index: 1000;
    display: none;
}
.results-box::-webkit-scrollbar {
    width: 12px; 
}

.results-box::-webkit-scrollbar-track {
    background: rgba(255,255,255,0);
}

.results-box::-webkit-scrollbar-thumb {
    background: rgb(49, 54, 59);
    border-radius: 0px;
}

.results-box::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.results-box ul{
    background-color: rgb(39, 43, 48);
    padding: 5px;
    margin: 0;
}
.results-box li{
    color: white;
    opacity: 0.5;
    cursor: pointer;
    list-style: none;
    white-space: nowrap;
    overflow: hidden;
    background-color:rgb(49, 54, 59);
    margin: 5px;
    padding: 2px;
}
.results-box ul li:hover{
    background-color: rgb(59, 65, 71);
    opacity: 0.8;
}

.box-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 6px;
    height: auto;
    width: 100%;

}

.box{
    background-color: rgb(39, 43, 48);
    display: flex;
    width: 100%;
    height: 50px;
    color: white;
    align-items: center;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0.5;
}

.box span{
    display: inline;
    white-space: nowrap;
}

.current{
    border: 1px solid white;
    opacity: 1;
}
.correct{
    border: 1px solid rgb(113, 255, 100);
    opacity: 1;
}
.incorrect{
    border: 1px solid rgb(255, 73, 73); 
    color: rgb(255, 73, 73); 
    opacity: 1;
}

.hint{
    border: 1px solid rgb(255, 187, 0);
    color: rgb(255, 187, 0);
    opacity: 1;
}


@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
}

#loading{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading img{
    width: 128px;
    height: 128px;
}

.alert-container{
    position: absolute;
    top: 100px;
    z-index: 2000;
    background-color: rgb(39, 43, 48); 
    box-shadow: 0px 14px 0px 0px rgb(28, 30, 34); 
    padding: 10px;
}

.alert-container p{
    color: white;
    opacity: 0.5;
    text-align: center;
}

.alert-container h3{
    padding: 10px;
    color: white;
    text-align: center;
}
